@font-face {
  font-family: "Alegreya Sans";
  src: url(../fonts/AlegreyaSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "cedarville cursive";
  src: url(../fonts/cedarville-cursive.regular.ttf) format("truetype");
}

@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/JosefinSans-Bold.ttf) format("truetype");
}
