@mixin fonts_main {
  font-family: "Alegreya Sans", "Tahoma", sans-serif;
}

@mixin fonts_cursive {
  font-family: "Cedarville Cursive", "Tahoma", sans-serif;
}

@mixin fonts_btn {
  font-family: "Josefin Sans", "Tahoma", sans-serif;
}
